<!doctype html>
<head></head>

<body>
    {% for tag in student_list %}
        <li>{{ tag.number }},{{tag.name}}{{post_list.name}}</li>
    {% endfor %}
    {% for p in attendance_list %}
        <li>{{p.attendance}},{{p.teacher}},{{p.student}}</li>
    {% endfor %}
    <table border="1">
    

    <tr>
      <th>Student</th>
      <th>Teacher</th>
      <th>Attendance</th>
    </tr>
    <tr>
    {% for tag in student_list %}
        <td>{{tag.name}}</td>
        <td>{{attendance_list[forloop.counter]}}</td>
        {% for p in attendance_list %} 
            {% if p.student|stringformat:"s" == tag.name|stringformat:"s" %}
                <td>{{p.teacher}}</td>
                <td>{{p.attendance}}</td>        
            {% else %}
        {% endif %}
        {% endfor %}

    </tr>
    {% endfor %}
  
    </table>
    
</body>

</html>