<!doctype html>
<head></head>

<body>
    {% for tag in tag_list %}
        <li>{{ tag.number }},{{tag.name}}{{post_list.name}}</li>
    {% endfor %}
    {% for p in daily_list %}
        <li>{{p.attendance}},{{p.teacher}},{{p.student}}</li>
    {% endfor %}
    <table border="1">
    

    <tr>
      <th>Student</th>
      <th>Teacher</th>
      <th>Attendance</th>
    </tr>
    {% for p in daily_list %} 
       {% for tag in tag_list %}
            {%if {{p.student}} == {{tag.name}}%}
        <tr>
            <td>{{p.student}}</td>
            <td>{{p.teacher}}</td>
            <td>{{p.attendance}}</td>
        </tr>
            {% else %}
            <tr>
            <td>{{p.student}}</td>
            <td>{{p.teacher}}</td>
            <td>出席</td>
        </tr>
        {% endif %}
        {% endfor %}
    {% endfor %}
    </table>
    
</body>

</html>